<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_USERNAME' | translate }}</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_WSSERVERHOST' | translate }}</ion-label>
        <ion-input formControlName="wsserverhost"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SETTINGS_WSSERVERPORT' | translate }}</ion-label>
        <ion-input formControlName="wsserverport"></ion-input>
      </ion-item>

      
      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>{{ 'SETTINGS_SHOWTUTORIAL' | translate }}</ion-label>
        <ion-toggle formControlName="showtutorial"></ion-toggle>
      </ion-item>
    </ion-list>
  </form>
  <div padding>
    <button ion-button color="primary" block (click)="doLogin()">Connect</button>
  </div>
  <div padding>
    <button ion-button color="secondary" block (click)="doSend()">Send</button>
  </div>

</ion-content>
