page-shader-detail {
  .shader-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .shader-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
