<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(shader)" *ngFor="let shader of currentItems">
      <ion-avatar item-start>
        <img [src]="shader.profilePic" />
      </ion-avatar>
      <h2>{{shader.name}}</h2>
      <p>{{shader.fragment}}</p>
      <ion-note item-end *ngIf="shader.note">{{shader.note}}</ion-note>
    </button>
  </ion-list>
</ion-content>
